:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --light: #eee;
    --pink: #ff6f91;
    --silk: #ffc75f;
    --purple: #845ec2;
    --pure: crimson;
    --gray: gray;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: var(--light)

}
header{
    padding:2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 250;
    color: var(--gray)

}

#new-task-form{
    display: flex;
    /* flex-direction: column; */
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right:1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: var(--gray)
}
#new-task-submit{
    color:  var(--pink);
     font-size: 1.25rem;
     font-weight: 700;
     background-image: linear-gradient(to right, var(--pink), var(--purple), var(--silk));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     cursor: pointer;
     transition: 0.5s;
 
    }

 #new-task-submit:hover{  
   opacity: 0.8;

}

#new-task-submit:active {
    opacity: 0.2;

}

main{
    flex: 1 1 0%;
    /* padding: 2rem 1rem; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;

}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#task .task{
    display: flex;
    /* flex-direction:row; */
    justify-content: space-between;
    /* flex: 1 1 0%; */
    background-color: var(--darkest) ;

}